.Button {
  background-color: #f5e1c4;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 20px;
  margin: 10px;
  font-weight: bold;
  border-radius: 25px;
}

.Success {
  color: white;
}

.Danger {
  color: #941b1a;
}

.Disable {
  color: gray;
  background-color: #f2f2f2;
}
