.Button {
  background-color: #693d17;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 20px;
  margin: 10px;
  font-weight: bold;
  border-radius: 25px;
}

.Success {
  color: #ffffff;
}

.Danger {
  color: #941b1a;
}

.Button:disabled {
  background-color: #C7C6C6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}
